html,
body,
#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #333;
  /* background: rgb(0,0,0); */
  /* background: rgb(253, 228, 255);
  background: linear-gradient(
    0deg,
    rgba(253, 228, 255, 1) 0%,
    rgba(124, 156, 254, 1) 100%
  ); */
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  touch-action: none;
}

.controlKeys {
  position: absolute;
  width: 12rem;
  left: 50%;
  margin-left: -6rem;
  bottom: 12%;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.title {
  font-size: 0.8rem;
  line-height: 1.4;
  font-family: Arial, sans-serif;
  color: darkgray;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 2%;
  text-align: center;
}

.title > a {
  color: rgb(79, 189, 249);
}

@media (max-width: 768px) {
  .controlKeys {
    display: none;
  }
  .title {
    display: none;
  }
}

@media (max-height: 450px) {
  .controlKeys {
    display: none;
  }
  .title {
    display: none;
  }
}
